body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  padding: 0 50px;
}

svg {
  background: #eeeeee;
}

.d3-overflow {
  overflow: visible !important;
}

.d3-responsive {
  width: 100%;
}

.mb {
  margin-bottom: 20px;
}
